.navbar {
    position: fixed;
    display: flex;
    width:100%;
}

.nav {
    margin-top: 10px;
    margin-left: 40vw;
    position: absolute;
    width: 60vw;
    justify-items: stretch;
    justify-content: space-around;
}

.nav-link {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Gugi', cursive;
}

.container{
    height: auto;
    width: auto ;
    max-height: auto;
    max-width: auto;
}

.container img{
    width: 150px;
    height:80px;
    overflow:hidden;
}
.wid{
    width:100%;
}

.mr-auto{
    transform: translate(100%,0%);
}